@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #fc7d00;
  --primary-hover: #e66f00;
  --primary-light: #ffedd5;
  --primary-soft: #fff7ed;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@keyframes notification-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes notification-progress {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.animate-notification-in {
  animation: notification-in 0.3s ease-out;
}

.animate-notification-progress {
  animation: notification-progress 4s linear forwards;
}
